@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;700&family=Roboto+Mono:wght@300;500;700&display=swap');

body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.blue-background {
    background-color: rgb(0, 51, 160);
    color: white;
}

.center {
    text-align: center;
}

.shift-text {
    padding-top: 25px;
}

.img-responsive {
    width: 100%;
}

.container-text-overlay {
    position: relative;
    text-align: center;
    color: white;
}

.img-text-center {
    background-color: rgba(255, 255, 255, 0.349);
    color: black;
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 100%
}

h1{
    font-size: large;
    font-family: 'Roboto';
}

h2{
    font-size: medium;
    font-family: 'Roboto';
}